<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	package="me.tagavari.airmessage">

	<!-- Normal permissions -->
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

	<!-- Dangerous permissions -->
	<uses-permission android:name="android.permission.RECORD_AUDIO" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.READ_CONTACTS" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

	<!-- Text message permissions -->
	<uses-permission android:name="android.permission.SEND_SMS" />
	<uses-permission android:name="android.permission.READ_SMS" />
	<uses-permission android:name="android.permission.WRITE_SMS" />
	<uses-permission android:name="android.permission.RECEIVE_SMS" />
	<uses-permission android:name="android.permission.RECEIVE_MMS" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
	<uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<!-- <uses-permission android:name="android.permission.WRITE_SETTINGS" /> -->

	<!-- Features -->
	<uses-feature android:name="android.hardware.telephony" android:required="false" />

	<!-- Activity queries -->
	<queries>
		<!-- Camera -->
		<intent>
			<action android:name="android.media.action.IMAGE_CAPTURE" />
		</intent>
		<intent>
			<action android:name="android.media.action.VIDEO_CAPTURE" />
		</intent>
	</queries>

	<application
		android:allowBackup="true"
		android:fullBackupContent="@xml/backup_rules"
		android:appCategory="social"
		android:icon="@mipmap/app_icon"
		android:roundIcon="@mipmap/app_icon"
		android:label="@string/app_name"
		android:name=".MainApplication"
		android:supportsRtl="true"
		tools:ignore="GoogleAppIndexingWarning">
		<!-- Conversation list -->
		<activity
			android:label="@string/app_name"
			android:name=".activity.Conversations"
			android:theme="@style/DayNight.NoActionBar.Protected"
			android:windowSoftInputMode="adjustResize">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>

			<meta-data android:name="android.app.shortcuts" android:resource="@xml/shortcuts" />
			<meta-data android:name="WindowManagerPreference:SuppressWindowControlNavigationButton" android:value="true" />
		</activity>

		<!-- Messaging screen -->
		<activity
			android:name=".activity.Messaging"
			android:parentActivityName=".activity.Conversations"
			android:theme="@style/DayNight.NoActionBar"
			android:windowSoftInputMode="adjustResize"
			android:allowEmbedded="true"
			android:resizeableActivity="true">
			<!-- Direct MMS / SMS message handling -->
			<intent-filter>
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />

				<action android:name="android.intent.action.SEND" />
				<action android:name="android.intent.action.SENDTO" />

				<data android:scheme="sms" />
				<data android:scheme="smsto" />
				<data android:scheme="mms" />
				<data android:scheme="mmsto" />
			</intent-filter>

			<meta-data android:name="WindowManagerPreference:SuppressWindowControlNavigationButton" android:value="true" />
		</activity>

		<!-- New message -->
		<activity
			android:exported="false"
			android:label="@string/screen_newconversation"
			android:name=".activity.NewMessage"
			android:parentActivityName=".activity.Conversations"
			android:theme="@style/DayNight.NoActionBar.Protected"
			android:windowSoftInputMode="adjustResize|stateVisible">
			<meta-data android:name="WindowManagerPreference:SuppressWindowControlNavigationButton" android:value="true" />
	</activity>

		<!-- Preferences -->
		<activity
			android:exported="false"
			android:label="@string/screen_settings"
			android:name=".activity.Preferences"
			android:theme="@style/DayNight.NoActionBar.Protected"
			android:parentActivityName=".activity.Conversations">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.NOTIFICATION_PREFERENCES" />
			</intent-filter>

			<meta-data android:name="WindowManagerPreference:SuppressWindowControlNavigationButton" android:value="true" />
		</activity>

		<!-- Image draw -->
		<!-- <activity
			android:exported="false"
			android:name=".ImageDraw"
			android:theme="@style/AppTheme.ImageDraw" /> -->

		<!-- Onboarding -->
		<activity
			android:exported="false"
			android:name=".activity.Onboarding"
			android:theme="@style/AppTheme.Onboarding">
			<meta-data android:name="WindowManagerPreference:SuppressWindowControlNavigationButton" android:value="true" />
		</activity>

		<!-- Server configuration -->
		<activity
			android:exported="false"
			android:name=".activity.ServerConfigStandalone"
			android:theme="@style/AppTheme.Onboarding">
			<meta-data android:name="WindowManagerPreference:SuppressWindowControlNavigationButton" android:value="true" />
		</activity>

		<!-- Media viewer -->
		<activity
			android:exported="false"
			android:name=".activity.MediaViewer"
			android:parentActivityName=".activity.Messaging"
			android:theme="@style/ThemeBlack"
			android:configChanges="orientation|screenSize|layoutDirection">
			<meta-data android:name="WindowManagerPreference:SuppressWindowControlNavigationButton" android:value="true" />
		</activity>

		<!-- Location picker -->
		<activity
			android:exported="false"
			android:name=".activity.LocationPicker"
			android:parentActivityName=".activity.Messaging"
			android:theme="@style/DayNight.Transparent"
			android:windowSoftInputMode="adjustResize">
			<meta-data android:name="WindowManagerPreference:SuppressWindowControlNavigationButton" android:value="true" />
		</activity>

		<!-- Blocked addresses -->
		<!--
        <activity android:name=".BlockedAddresses">
		</activity>
        -->

		<!-- Share Handler -->
		<activity
			android:excludeFromRecents="true"
			android:exported="true"
			android:name=".activity.ShareHandler"
			android:noHistory="true"
			android:theme="@style/ActivityDialogTheme">
			<intent-filter>
				<action android:name="android.intent.action.SEND" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="*/*" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.SEND_MULTIPLE" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="*/*" />
			</intent-filter>
		</activity>

		<!-- Open source licenses -->
		<activity
			android:exported="false"
			android:name=".activity.Licenses"
			android:label="@string/screen_licenses"
			android:theme="@style/DayNight.NoActionBar">
			<meta-data android:name="WindowManagerPreference:SuppressWindowControlNavigationButton" android:value="true" />
		</activity>

		<!-- Crash report -->
		<activity
			android:exported="false"
			android:name=".activity.CrashReport"
			android:theme="@style/CrashReport"
			android:windowSoftInputMode="adjustResize">
			<meta-data android:name="WindowManagerPreference:SuppressWindowControlNavigationButton" android:value="true" />
		</activity>

		<!-- Notification response -->
		<receiver
			android:enabled="true"
			android:exported="false"
			android:name=".receiver.MessageNotificationActionReceiver" />

		<!-- Message notification deletion receiver (for updating the status notification) -->
		<receiver
			android:enabled="true"
			android:exported="false"
			android:name=".receiver.MessageNotificationDeleteReceiver" />

		<!-- Server connection manager service -->
		<service
			android:name=".service.ConnectionService"
			android:exported="false"
			android:description="@string/servicedesc_connectionservice" />

		<!-- Text message import service -->
		<service
			android:name=".service.SystemMessageImportService"
			android:exported="false"
			android:description="@string/servicedesc_systemmessageimport" />

		<!-- File export service -->
		<service
			android:name=".service.FileExportService"
			android:exported="false"
			android:description="@string/servicedesc_fileexportservice" />

		<!-- File-URI export service -->
		<service
			android:name=".service.UriExportService"
			android:exported="false"
			android:description="@string/servicedesc_fileexportservice" />

		<!-- File provider -->
		<provider
			android:name="androidx.core.content.FileProvider"
			android:exported="false"
			android:authorities="${applicationId}.fileprovider"
			android:grantUriPermissions="true">
			<meta-data
				android:name="android.support.FILE_PROVIDER_PATHS"
				android:resource="@xml/provider_paths" />
		</provider>

		<!-- Start service on boot -->
		<receiver
			android:name=".receiver.StartBootReceiver"
			android:exported="false"
			android:enabled="false">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
			</intent-filter>
		</receiver>

		<!-- MMS / SMS library helper service -->
		<service android:name="com.android.mms.transaction.TransactionService" />

		<!-- Sent MMS receiver -->
		<receiver
			android:name=".receiver.TextSMSSentReceiver"
			android:taskAffinity="me.tagavari.airmessage.SMS_SENT" />

		<!-- Delivered SMS receiver -->
		<receiver
			android:name=".receiver.TextSMSDeliveredReceiver"
			android:taskAffinity="me.tagavari.airmessage.SMS_DELIVERED" />

		<!-- Sent MMS receiver -->
		<receiver
			android:name=".receiver.TextMMSSentReceiver"
			android:taskAffinity="com.klinker.android.messaging.MMS_SENT" />

		<!-- Incoming SMS receiver -->
		<receiver
			android:name=".receiver.TextSMSReceivedReceiver"
			android:permission="android.permission.BROADCAST_SMS">
			<intent-filter>
				<action android:name="android.provider.Telephony.SMS_DELIVER" />
			</intent-filter>
		</receiver>

		<!-- Incoming MMS processor -->
		<receiver
			android:name="com.android.mms.transaction.PushReceiver"
			android:permission="android.permission.BROADCAST_WAP_PUSH">
			<intent-filter>
				<action android:name="android.provider.Telephony.WAP_PUSH_DELIVER" />
				<data android:mimeType="application/vnd.wap.mms-message" />
			</intent-filter>
		</receiver>

		<!-- Incoming MMS receiver -->
		<receiver
			android:name=".receiver.TextMMSReceivedReceiver"
			android:taskAffinity="com.klinker.android.messaging.MMS_RECEIVED" />

		<!-- Headless MMS / SMS manager for quick replies -->
		<service
			android:name=".service.TextHeadlessService"
			android:permission="android.permission.SEND_RESPOND_VIA_MESSAGE"
			android:exported="true">
			<intent-filter>
				<action android:name="android.intent.action.RESPOND_VIA_MESSAGE" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:scheme="sms" />
				<data android:scheme="smsto" />
				<data android:scheme="mms" />
				<data android:scheme="mmsto" />
			</intent-filter>
		</service>

		<!-- Messaging app change receiver (to reset messaging data when another app is selected -->
		<receiver android:name=".receiver.DefaultMessagingAppChangedReceiver">
			<intent-filter>
				<action android:name="android.provider.action.DEFAULT_SMS_PACKAGE_CHANGED" />
			</intent-filter>
		</receiver>

		<!-- External messaging provider change receiver (when another app sends an SMS and MMS message, and this app must be updated) -->
		<receiver android:name=".receiver.ExternalMessagingProviderChangedReceiver">
			<intent-filter>
				<action android:name="android.provider.action.EXTERNAL_PROVIDER_CHANGE" />
			</intent-filter>
		</receiver>

		<!-- FCM listener service -->
		<service
			android:name=".service.FCMService"
			android:exported="false">
			<intent-filter>
				<action android:name="com.google.firebase.MESSAGING_EVENT" />
			</intent-filter>
		</service>

		<!-- Disables automatic Crashlytics initialization -->
		<meta-data
			android:name="firebase_crashlytics_collection_enabled"
			android:value="false" />

		<!-- Google Maps API -->
		<meta-data
			android:name="com.google.android.geo.API_KEY"
			android:value="AIzaSyBokl_A-bqfpChMhBFbh6YTCrPgS-DuIso" />

		<!-- Android Auto integration -->
		<meta-data
			android:name="com.google.android.gms.car.application"
			android:resource="@xml/automotive_app_desc" />
	</application>
</manifest>